---
title: 'marlus araujo'
layout: master
---
#tags.tags-projetos
  a.tag.tag-marlus.vfx(href='/')
    | marlus
  for data in getTagCloud()
    | 
    a.tag(href=data.url, rel=data.count, data-slug=data.tag.split(' ').join('-'), data-tag-weight=data.weight)
      = data.tag
  div.social__wrapper
    div.social__item
      a.social__icon.social__icon--email(href="mailto:m@marlus.com", target="_blank", title="m@marlus.com")
        i.icon--email
    div.social__item
      a.social__icon.social__icon--twitter(href="https://twitter.com/marlus", target="_blank", title="twitter.com/marlus")
        i.icon--twitter
    div.social__item
      a.social__icon.social__icon--github(href="https://github.com/sulram", target="_blank", title="github.com/sulram")
        i.icon--github


#loader.vfx
#isotope
  each proj in getFilesAtPath("projetos").findAllLive({},[{date:-1}]).toJSON()
    article.tag-item
      a(href=proj.url)
        img(src=site.url+"associated-covers/"+proj.slug+".jpg")
        .title
          .pad=proj.title
        .tags
          each tag in proj.tags
            li= tag.split(' ').join('-').split('.').join('-')