---
title: 'marlus araujo'
layout: master
---
#tags.tags-projetos
  a.tag-marlus.vfx(href='/')
    | marlus&nbsp;
  for data in getTagCloud()
    | 
    a(href=data.url, rel=data.count, data-slug=data.tag.split(' ').join('-'), data-tag-weight=data.weight)
      = data.tag
#loader.vfx
#isotope
  each proj in getFilesAtPath("projetos").findAllLive({},[{date:-1}]).toJSON()
    article.tag-item
      a(href=proj.url)
        img(src=site.url+"associated-covers/"+proj.slug+".jpg")
        .title
          .pad=proj.title
        .tags
          each tag in proj.tags
            li= tag.split(' ').join('-').split('.').join('-')