---
layout: master
---
.col.col1
  ul.slides
    if document.youtube
      li
        iframe(src="//www.youtube.com/embed/"+document.youtube, width="720", height="480", frameborder="0", allowfullscreen="allowfullscreen")
    if document.vimeo
      li
        iframe(src="http://player.vimeo.com/video/"+document.vimeo+"?portrait=0", width="720", height="480", frameborder="0", webkitAllowFullScreen="webkitAllowFullScreen", mozallowfullscreen="mozallowfullscreen", allowFullScreen="allowFullScreen")
    for file in getDocument().getAssociatedFiles().toJSON()
      li
        img(src=file.url, title=file.name)
.col.col2.post_content
  h1= document.title
  if document.rel != null
    p
      a.btn.vfx(href=document.rel, target="_blank")=document.rel.split('://')[1]
    br
  p
    strong.date= document.date
  != content
  .tags
    each tag in document.tags
      li= tag.split(' ').join('-').split('.').join('-')