doctype html
html(lang="pt-BR")
  head
    title= "marlus.com | " + document.title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(type="text/css", rel="stylesheet", href="http://fonts.googleapis.com/css?family=Armata")
    link(type="text/css", rel="stylesheet", href=site.url+"css/normalize.css")
    link(type="text/css", rel="stylesheet", href=site.url+"css/marlus.css")
    script(type="text/javascript").
      if(history && history.pushState && window.location.pathname != "/"){
        window.location = 'http://' + window.location.host + '#' + window.location.pathname;
      }
    script(type="text/javascript", src=site.url+"js/libs/moment.min.js")
    script(type="text/javascript", src=site.url+"js/libs/moment.pt-br.js")
    script(type="text/javascript", src=site.url+"js/libs/jquery.js")
    script(type="text/javascript", src=site.url+"js/libs/isotope.js")
    script(type="text/javascript", src=site.url+"js/libs/jquery.tagcloud.js")
    script(type="text/javascript", src=site.url+"js/libs/jquery.fitvids.js")
    script(type="text/javascript", src=site.url+"js/libs/davis.min.js")
    script(type="text/javascript", src=site.url+"js/libs/davis.ga.js")
  body
    //#header
    //  h1(style="font-weight:normal")
    //    a(href="/")
    //      | MARLUS

      
    #content
      != content
      #yield

    script(type="text/javascript", src=site.url+"js/marlus.js")
    script(type="text/javascript").
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1122051-7']);
      _gaq.push(['_setDomainName', 'marlus.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();